body {
    background-color: rgb(255, 252, 249);
}

.navigation {
    padding: 5px;
    background-color: #6b8e23;
    height: max-content;
    border-radius: 20px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
}

.logo {
    flex-grow: 1;
}

.logo img {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
    padding-left: 20px;
    
}

.wPages {
    flex-grow: 1;
    display: table-cell;
}

ul {
    vertical-align: middle;
    list-style-type: none;
    margin: 0px;
    padding-right: 20px;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}

ul li, a {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: large;
    color: whitesmoke;
    text-decoration-line: none;
}

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-items: center;
  }

.corousal {
    width: 60%;
    height: 60%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slide {
    width: 100%;
    height: 100%;
    animation: fade 1.5s;
    display: none;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#p1 {
    background-image: url("p1.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#p2 {
    background-image: url("p2.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#p3 {
    background-image: url("p3.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#p4 {
    background-image: url("p4.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#p5 {
    background-image: url("p5.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#p6 {
    background-image: url("p6.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#p7 {
    background-image: url("p7.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}  

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #6b8e23;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.teamHead {
    width: max-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.teamHead h3 {
    padding: 7.5px;
    border: 2px solid rgb(206, 4, 65);
    border-radius: 20px;
}

.team {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.member {
    margin: 20px;
    padding: 10px;
    width: fit-content;
    border: 0.5px solid black;
    border-radius: 5px;
}

.member img {
    width: 150px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.memName {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: 500;
    text-align: center;
    color: rgb(206, 4, 65);
}

.pLink {
    display: block;
    text-align: center;
    color: black;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration-line: underline;
    padding: 5px;
}

footer {
    background-color: #6b8e23;
    color: white;
    text-align: center;
    height: fit-content;
    padding: 10px;
}